<mat-card *ngIf="product">
  <mat-progress-bar
    mode="indeterminate"
    *ngIf="isLoading && !product"
  ></mat-progress-bar>
  <mat-card-header>
    <mat-card-title>{{ product.title | uppercase }}</mat-card-title>
    <mat-card-subtitle>{{ product.category }}</mat-card-subtitle>
    <mat-card-subtitle
      >Owner:
      {{
        product.userId.name + ' ' + product.userId.surname
      }}</mat-card-subtitle
    >
  </mat-card-header>
  <img mat-card-image [src]="product.image" [alt]="product.title" />
  <mat-card-content>
    <p>
      {{ product.content }}
    </p>
  </mat-card-content>
  <mat-card-actions class="actions-flex">
    <div>
      <button
        mat-raised-button
        color="primary"
        [routerLink]="['/auth/edit-product', product._id]"
        *ngIf="userIsAuth && product.userId._id === userId"
      >
        EDIT
      </button>
      <button
        mat-raised-button
        color="warn"
        *ngIf="userIsAuth && product.userId._id === userId"
        (click)="onDelete()"
      >
        DELETE
      </button>
    </div>
    <div>
      <button
        mat-icon-button
        matTooltip="Add to cart"
        *ngIf="product.userId._id !== userId && userIsAuth"
        (click)="onAddToCart()"
      >
        <mat-icon>add_shopping_cart</mat-icon>
      </button>
    </div>
  </mat-card-actions>
</mat-card>
