<div class="main-grid">
  <div class="search-grid" *ngIf="products.length > 0 && !isLoading">
    <mat-form-field>
      <input matInput placeholder="Search" />
      <button mat-icon-button matSuffix (click)="('')">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div *ngIf="products.length == 0 && !isLoading">
    <h1>No products found</h1>
  </div>
  <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
  <div *ngIf="products.length > 0 && !isLoading">
    <div class="list-grid">
      <mat-card *ngFor="let product of products" class="list-grid-item">
        <mat-card-header>
          <mat-card-title
            style="cursor: pointer"
            [routerLink]="['/product', product._id]"
            >{{ product.title | uppercase }}</mat-card-title
          >
          <mat-card-subtitle>{{ product.category }}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="product.image" [alt]="product.title" />
        <mat-card-content>
          <p style="word-break: break-all">
            {{ product.content }}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <strong>{{ product.price | currency: 'EUR'}}</strong>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <div class="paginator-grid" *ngIf="products.length > 0">
    <mat-paginator
      [length]="totalProducts"
      [pageSize]="productPerPage"
      [pageSizeOptions]="pageSizeOptions"
      (page)="onChangedPage($event)"
      [showFirstLastButtons]="true"
    ></mat-paginator>
  </div>
</div>
