<mat-progress-bar *ngIf="isLoading"></mat-progress-bar>
<div class="reset-password-grid">
  <div style="width: 100%" *ngIf="!isTokenValid && !isLoading">
    <p>Your token is invalid or it has expired!</p>
  </div>
  <div style="width: 100%" *ngIf="isTokenValid">
    <form
      [formGroup]="form"
      class="reset-password-form"
      (submit)="resetPassword()"
    >
      <h4>Choose your new password</h4>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input
          matInput
          #pw
          [type]="hidePw ? 'text' : 'password'"
          formControlName="password"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hidePw = !hidePw"
          type="button"
        >
          <mat-icon>{{ hidePw ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        <mat-hint>Min 10 characters</mat-hint>
        <mat-error>Password is required (min 10 characters)</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Repeated password</mat-label>
        <input
          matInput
          [type]="hiderPw ? 'text' : 'password'"
          formControlName="rpassword"
          compare="password"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hiderPw = !hiderPw"
          type="button"
        >
          <mat-icon>{{ hiderPw ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        <mat-error>Passwords don't match</mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">
        Reset password
      </button>
    </form>
  </div>
</div>
